
            <div class="column">
                <div class="section">
                    <aside class="menu">
                        <p class="menu-label">
                            Menu
                        </p>
                        <ul class="menu-list">
                            <li><a href="<%= path.re %>basic/">Basic</a></li>
                            <li><a href="<%= path.re %>Geocoder/">Geocoder</a></li>
                            <li><a href="<%= path.re %>Style/">Style</a></li>
                        </ul>
                    </aside>
                </div>
            </div>