.btn {
  position: relative;
  z-index: 1;
  appearance: none;
  display: inline-block;
  border: 0;
  background: transparent none;
  cursor: pointer;
  transition: .25s $easeInOutExpo;
  //
  //

}
